## gitignore for C++ from github
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## custom
!/data/
/data/*
!/build/
/build/*
!/builds/
/builds/*
!/decoys/*.sh
!/decoys/
/decoys/*
!/temp/
/temp/*
temp
!/test/
/test/*

*.dat
src.tgz
## eclipse settings
.cproject
.project
.settings/*
